@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/inter-v13-latin-regular.woff2") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/inter-v13-latin-600.woff2") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: white;

  background-color: hsl(0, 0%, 8%);

  height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;
}

main {
  box-sizing: border-box;

  border-radius: 12px;

  font-family: "Inter", sans-serif;

  background-color: hsl(0, 0%, 12%);

  display: flex;
  flex-direction: column;

  outline: 1px solid black;

  width: min(384px, 100%);
  
  margin: 0px auto;

  padding: 40px;

  justify-content: center;
  align-items: center;
}

img {
  width: 88px;
  height: auto;

  border-radius: 50%;

  margin-bottom: 24px;
}

main h1 {
  font-size: 24px;
}

main h2 {
  color: hsl(75, 94%, 57%);

  font-size: 14px;

  font-weight: 600;
}

main p {
  font-size: 14px;
  margin: 24px 0;
}

.buttons {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 16px;
}

button {
  color: white;
  background-color: hsl(0, 0%, 20%);

  font-size: 14px;
  font-weight: 600;

  border-radius: 12px;

  width: 100%;

  padding: 12px 0;

  border: none;
}

button:hover {
  color: black;
  background-color: hsl(75, 94%, 57%);
}

.attribution {
  position: fixed;

  width: 100%;

  bottom: 0;
  
  margin-bottom: 15px;

  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
